{{!< default}}

<!-- Begin Blog Header -->
<section id="blog">
  <div class="title container_12">
    <h1>
      <a href="{{@blog.url}}">Blog</a>
      <a class="button-square" href="{{@blog.url}}/rss"><i class="fa fa-rss-square"></i></a>
    </h1>
  </div>
</section>
<!-- End Blog Header -->

<div class="loader fa fa-2x fa-circle-o-notch fa-spin"></div>

<div class="fluid-width container_12">
  <div class="fluid-post-index">
    {{#foreach posts}}
      {{> post-stub }}
    {{/foreach}}
  </div>
</div>

<div class="post-navigation">
  {{pagination}}
</div>