// ============================================================ //
// Colours //
// ============================================================ //

$primary: #FFD41D;
$secondary: rgb(31,31,31);
$background: #FEFEFE;
$primary_font: 'Merriweather', 'Times New Roman', serif;
$secondary_font: 'League Gothic', Arial, Helvetica, sans-serif;
$tertiary_font: 'Gudea', Arial, Helvetica, sans-serif;
$green: #1F8A70;
$red: #BD4932;
$pink: #FF358B;
$blue: #3498DB;

/* ============================================================ */
/* Base */
/* ============================================================ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $primary_font;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a { text-decoration: none; }

h1 {
  font-family: $secondary_font;
}

h2,h3,h4,h5,h6 {
  font-family: $secondary_font;
  font-size: 20px;
  text-transform: none;
}

h2 { font-size: 40px; line-height: 40px; }

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
  }
}

.navigation ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  list-style-type: none;
}

.hidden { display: none; }

pre { font-size: 1.6em; }

p {
  font-size: 16px;
  line-height: 1.7em;
  margin: 0 0 20px;
}

ul, ol {
  list-style-position: inside;
  line-height: 1.8;
  margin: 0 0 40px;
  padding: 0;

  ul, ol { margin: 10px 0 0 20px; }

  li {
    margin: 0 0 10px;

    &:last-of-type { margin-bottom: 0; }
  }
}

blockquote {
  border-left: 1px dotted $secondary;
  margin: 40px 0;
  padding: 5px 30px;

  p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%;
  }
}

img {
  display: block;
  margin: 20px 0;
  width: auto;
  max-width: 100%;
}

pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 15px 20px;
}

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0;
}

table {
  margin-bottom:40px;
  width: 100%;

  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3;
  }

  th {
    padding: 0 10px 10px;
    text-align: left;
  }

  td { padding: 10px; }

  tr { border-bottom: 1px dotted #AEADAD; }
}

.fluid-width-video-wrapper { margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.clearfix {
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

/* ============================================================ */
/* General Appearance */
/* ============================================================ */

.button-square { margin-left: 20px; }

.logo img { margin: 0; display: inherit; }

.navigation a { font-weight: 400; }

.navigation a, .title a {
  font-family: $secondary_font;
  color: $secondary;
}

#mobile-nav li a {
  font-family: $tertiary_font;
}

.serif {
  font-family: $primary_font;
  font-style: italic;
}

/* ============================================================ */
/* Blog */
/* ============================================================ */

section#blog {
  padding: 50px 0px;

  h1 { padding:0; margin: 0; }
}

.title { text-align: center; }

.content.padded { padding-bottom: 60px; }

/* ============================================================ */
/* Footer */
/* ============================================================ */

footer {
  font-family: $tertiary_font;
  font-size: 1.2em;
  height: auto;
  padding-bottom: 3em;
}

/* ============================================================ */
/* Ajax Container */
/* ============================================================ */

#ajax-container {
  padding: 0px 0px 40px;
}

.home-template #ajax-container, .archive-template #ajax-container, .tag-template #ajax-container {
  background-color: rgb(240,240,240);
}

/* ============================================================ */
/* Site Header */
/* ============================================================ */

.site-header {
  padding: 20px 0 20px 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
}

.site-title-wrapper {
  display: table;
  margin: 0 auto;
}

.site-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;

  a {
    float: left;
    background: $primary;
    color: #FEFEFE;
    padding: 5px 10px 6px;

    &:hover { background: $secondary; }
  }
}
.site-logo {
  display: block;

  img { margin: 0; }
}
.site-logo-subheader {
  margin: 5px 25px 25px 25px;
  font-family: $secondary_font;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
}

.site-nav {
  list-style: none;
  margin: 28px 0 10px;
  padding: 10px;
  background-color: $secondary;
}

.site-nav a {
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;

  a:hover { color: $primary; }
}

/* ============================================================ */
/* Isotope */
/* ============================================================ */

.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-property: -webkit-transform, background-color;
  -moz-transition-property: -moz-transform, background-color;
  transition-property: transform, background-color;
}

/* ============================================================ */
/* Sidebar */
/* ============================================================ */

.sidebar {
  background: rgb(235,235,235);
  margin: 20px 0px;
  padding: 20px;

  a:hover { border-bottom: 1px dotted; }
}

/* ============================================================ */
/* Post */
/* ============================================================ */

#latest-post { display: none; }

.post-container,
.page-container {
  margin: 50px 40px;

  h2 { font-size: 22px; line-height: 28px; font-weight: 700; }
}

.post-header {
  padding: 0 0 40px;
  text-transform: uppercase;
}

.post-title,
.page-title {
  font-size: 72px;
  line-height: 70px;
  font-weight: 300;
  margin: 15px 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.page-title { margin: 15px 40px; }

.post-date { text-align: center; }

.post-date,
.blog-description {
  font-family: $tertiary_font;
  font-weight: 300;
  color: #AEADAD;
  font-size: 14px;
  line-height: 1;
  margin: 25px 0 0;

  &:after {
    border-bottom: 5px solid rgb(235,235,235);
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px;
  }
}

.post-content {
  a:hover {
  border-bottom: 1px dotted $primary;
  padding: 0 0 2px;
  }

  ul, ol {
  font-size: 16px;
  font-weight: 300;
  }

  &:last-child { margin-bottom: 0; }
}

.post-footer { margin-top: 5px; }

.post-tags,
.share {
  color: #AEADAD;
  font-size: 12px;

  span { font-weight: 600; }

  a {
    color: white !important;
    background-color: $secondary !important;
    padding: 4px 8px !important;
    margin: 2px 2px;
    display: inline-block;
    border-radius: 0px;
  }

  a:hover {
    background-color: rgb(100,100,100) !important;
  }
}

.share {
  float: right;

  a {
    background: $primary;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 0 4px;
    width: 30px;
    text-align: center;
  }

  a:hover { background: $secondary; }
}

.post-navigation {
  display: table;
  margin: 70px auto 100px;
}

.newer-posts,
.older-posts {
  float: left;
  background: $primary;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase;

  &:hover {
    background: $secondary;
  }
}

.post-navigation nav {
  position: relative;
}

.page-number { display: none; }

/* ============================================================ */
/* Post Index */
/* ============================================================ */

.post-list {
  list-style: none;
  margin: 10px 40px 0;
  padding: 10px 0 0;
}

.post-stub {
  margin: 0;
  padding: 0;
  outline: 1px solid rgb(240,240,240);
  position: relative;
  background-color: #fff;
  float: left;
  width: 20%;

  p, h1, h2, h3, h4, h5, h6 { margin: 0; }

  a {
    display: block;
    color: $secondary;
  }

  .post-stub-image {
    overflow: hidden;
    img {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    a {
      background-color: $primary;
      background-image: url('../images/plus.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
    a:hover {
      opacity: 0.85;
      text-decoration: none;
    }
    a:hover img {
      -webkit-transform: scale(1.2, 1.2) rotate(0);
      -webkit-transition-timing-function: ease;
      -webkit-transition-duration: 300ms;
      -moz-transform: scale(1.2, 1.2) rotate(0);
      -moz-transition-timing-function: ease-in;
      -moz-transition-duration: 300ms;
      transform: scale(1.2, 1.2) rotate(0);
      transition-timing-function: ease-in;
      transition-duration: 300ms;
      opacity: .5;
    }
  }

  .post-stub-container {
    padding: 35px 20px;
  }

  .post-excerpt {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

.post-tags {
  margin-bottom: 15px;
  a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.post-container .post-tags {
  text-align: center;
}

.tag-ideas .post-tags a { background-color: $pink !important; }
.tag-development .post-tags a { background-color: #000 !important; }
.tag-design .post-tags a { background-color: $red !important; }
.tag-culture .post-tags a { background-color: $blue !important; }
.tag-case-studies .post-tags a { background-color: $green !important; }

.post-stub:hover {
  background-color: $primary;
  color: #fff;
  a { color: #fff; }
}

.post-w2 {
  width: 40%;
}

.post-stub-header {
  padding: 0 0 30px;
  text-transform: uppercase;
}

.post-stub-title {
  display: inline-block;
  margin: 20px 0px 0px;
  text-transform: uppercase;
}

.post-stub-date {
  margin: 0;
  display: inline-block;
}

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px;
}

/* ============================================================ */
/* Disqus
/* ============================================================ */

#disqus_thread {
  padding: 60px 0px;
}

/* ============================================================ */
/* Media Queries */
/* ============================================================ */

@media only screen and (max-width: 959px) {
  #ajax-container { margin-top: 66px; }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

  .post-stub-tag { display: none; }

  .site-nav-item {
    display: block;
    margin: 15px 0;
  }

  .post-stub h1, .post-stub h2 { text-align: left; }

  .post-stub-title { display: block; }

  .post-stub-date:before {
    content: "";
    display: block;
  }

  .post-stub-date {
    padding-top: 5px;
  }

  .post-container,
  .post-list {
    margin-right: 25px;
    margin-left: 25px;
  }

  .share {
    float: left;
    margin-top: 20px;

    a {
      margin: 0 5px 0 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .post-title {
    font-size: 45px;
    line-height: 45px;
  }

  .post-container,
  .post-list {
    margin-right: 15px;
    margin-left: 15px;
  }
}